/* Header y footer*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #F5F5F5;
  color: #fff;
}

header {
  background-color: #6706A5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 90px;
  padding: 5px;
}

header nav li a{
  color: #fff;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
}

.titulo-nav {
  margin-left: 30px;
  margin-right: 520px;
  font-size: 30px;
}


.link {
  list-style: none;
  font-size: 20px;
}

.link li {
  display: inline-block;
  padding: 0 15px;
  transition: all 0.3s;
}

.link li:hover {
  transform: scale(1.1);
}

.link a {
  font-size: 700;
  color: #fff;
  text-decoration: none;
}

.link li a:hover {
  color: #5ca6c6;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #6706A5;
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: #fff;
}

footer p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

/*Fin de header y footer*/

div {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.container{
  box-sizing: border-box;
  justify-content: space-between;
  width: 370px;
  height: 417px;
  left: 100px;
  top: 100px;
  background: #B691D2;
  border: 6px solid #6706A5;
  box-shadow: 7px 10px 4px rgba(0, 0, 0, 0.35);
  border-radius: 100px;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items:center;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}

img {
  height: 350px;
  width: 500px;
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border: 5px solid #6706A5;
  box-shadow: 5px 8px 2px rgba(0, 0, 0, 0.35);
  border-radius: 80px;
  background-color: #6706A5;
}

.titulo{
  align-items: center;
  justify-content: center;
  position: absolute;
}

.cajatitulo{
  margin-top: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 386px;
  height: 58px;
  left: 444px;
  top: 137px;
  background: #D9D9D9;
  border: 3px solid #000000;
  border-radius: 50px;
}